a {
  color:tomato;
}

@font-face {
   font-family: myFont;
   src: url('../fonts/Ailerons-Typeface.otf');
}
.projects{
  display:flex;
  justify-content:space-around;
  flex-wrap: wrap;
}
.project img{
  padding: 2px;
  color: #a5a5a5;
box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
transition: box-shadow .5s;
border-style: double;
border-width: thick;

}

.project {
height: 400px !important;
width: 480px !important;
padding:30px;
}

.project:hover img{
  box-shadow: 0 40px 40px rgba(0, 0,0,0.5);

}

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: sans-serif;
  background: transparent;
  opacity:0.9;
  border-bottom: 1px solid;
  border-color: #353535;

}
.navbar-custom .navbar-brand {
  font-weight: 800;
  color: #E5E5E5;
  font-family: myFont;
  font-size: 40px;
}
.navbar-custom .navbar-header .navbar-toggle {
  color: #E5E5E5;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #E5E5E5;
}
@media only screen and (min-width: 768px) {

  .navbar-custom .navbar-brand {
    /*color: white;*/
    padding: 20px;

  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }

}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #333333;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085A1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #333333;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085A1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@media (max-width: 768px) {
   .port-img {
     max-width:100%;
   }

   .navbar-custom{
     background: white;
     color:#333333 !important;
   }

}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 2px;
    /*background-color: #353535;*/
    /*background: url(../images/TopoFinal.png);*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border-bottom: thick solid #606060;
}

.subheader {
    display: table;
    position: relative;
    width: 100%;
    height: 50%;
    /*background-color: #353535;
    background: url(../images/TopoFinal.png);*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.podhead {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/RossJimmy.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h3,h4 {
	text-align:left;
  color:#E5E5E5;
}

h4 {
  font-size: 1.6em;
}
/*
.crop img {
  height:auto;
  max-width:100%;
  max-height:100%;
  vertical-align:middle;
}
*/

/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url(../images/TopoMutedLT.png);
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: myFont;
    font-size: 8em;
    font-weight: 700;
    /*color:#E5E5E5;*/
    background-color: #353535;
    color: transparent;
    text-shadow: 0px 2px 1px rgba(255,255,255,0.9);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: myFont;
    font-size: 6em;
    font-weight: 700;
    /*color:#E5E5E5;*/
    background-color: #353535;
    color: transparent;
    text-shadow: 0px 2px 1px rgba(255,255,255,0.9);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: myFont;
    font-size: 3em;
    font-weight: 700;
    color:#E5E5E5;
}


/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}


.toggle {
    margin: 5px 5px 0 0;
}

.embed-responsive {
  width: 80%;
}

/* Portfolio

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}
*/


.index-thumb{
  box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
	max-width: 227px;
  transition: box-shadow .3s;

}

.index-thumb:hover{
	/*opacity:0.8;*/
  box-shadow: 0 40px 40px rgba(0, 0,0,0.5)
	/*max-width: 227px;*/
}


img {
 width: 100%;
  vertical-align: middle;
}


/* Bio Picture formatting */

.bio-pic {
  border-radius: 10%;
  max-width:200px;
  height:auto;
}


.overlay {
  color:#fff;
  position:absolute;
  z-index:12;
  top:40%;
  left:0;
  width:100%;
  text-align:center;
}

@media (max-width: 460px) {
    .overlay{
		font-size: 10px;
		top:20%;
		}
}

/* Footer */

footer {
	margin-top:50px;
  /*background-color:#353535;*/
  width: 100%;
}

#title {
  /*color: #E5E5E5;*/
  letter-spacing: 30px;
}

#subtitle {
    margin: 0;
    padding: 0;
    font-family: myFont;
    font-size: 4em;
    font-weight: 100;
    letter-spacing: 15px;
    text-align: center;
	  color: #E5E5E5;
}
